<%= render 'search' %>
<h1>
	<% if @search_query.present? %>
		<%= t '.search_results' %>
	<% else %>
		<%= t '.title' %>
	<% end %>
</h1>

<% if @rooms.present? %>
	<%= render @rooms %>
	<div class="center">
		<%= will_paginate @rooms %>
	</div>
<% elsif @search_query.present? %>
	<br/><p><%= t('.search_no_results') %></p>
<% else %>
	<br/><p><%= t('.no_rooms') %></p>
<% end %>